.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: fit-content;
    padding: 30px 0 35px;
    background-color: rgb(42, 42, 42);
}

.heading {
    font-size: 60px;
    margin: 10px auto;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
    width: fit-content;
}

.input {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    padding: 0px 16px;
    box-shadow: rgb(0 0 0) 0 0 10px;
    margin: 10px auto;

    &::placeholder {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.link {
    text-decoration: none;
}