*, *::after, *::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}